    <div class="f-info mb-0">
        <div class="content">
            &copy;2024 JourneyNest.inc
            . <a href="#" class="condition">privacy</a>
            . <a href="#" class="condition">Terms</a>
            . <a href="#" class="condition">Sidemaps</a>
            . <a href="#" class="condition">Company Details-made by Ashis</a>
            <div class="f-info-socials">
               <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
               <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
               <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
               <a href="#"><i class="fa-brands fa-square-threads"></i></a>
            </div>
        </div>
    </div>